{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": [
        "*.scss",
        "*.css"
      ],
      "options": {
        "printWidth": 200,
        "tabWidth": 2
      }
    }
  ]
}